#home{
    background: #ffc107;
    color: white;
}
.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}
footer p a{
    margin: 5px 15px;
}
@media (max-width: 575.98px){
    body{
        width: 420px;
    }
}/* 
@media (min-width: 576px) and (max-width: 770px) {
    div#capa{
       display: hide;
    
    }
 } */